{
	"name": "LinkPeelr",
	"version": "{{VERSION}}",
	"manifest_version": 2,
	
	"description": "Know Where Link Is Going Before You Click",
	"icons": {
		"16": "linkpeelr16.png", 
		"48": "linkpeelr48.png", 
		"128": "linkpeelr128.png"
	},
	
	"background" : {
		"scripts" : ["background.js"]
	},
	
	"content_security_policy" : "script-src 'self' https://ssl.google-analytics.com/; object-src 'self'",

	"web_accessible_resources": [
    	"ajax-loader.gif", 
    	"jquery.min.js"
  	],

	"content_scripts": [
    	{
			"matches": ["http://*/*"],
			"css": ["tipTip.css"],
			"js": ["jquery.min.js", "hover_script.js"]
    	}
  	],
  	
  	"permissions": [
  		"cookies",
    	"{{REQUEST_DEST}}/*"
	]
}