{% extends "layout.html" %}
{% import 'forms.html' as forms %}

{% block title %}
{% trans %}LinkPeelr : Know where link is going before you click {% endtrans %}
{% endblock %}

{% block scripts %}
  
{% endblock %}

{% block content %}

  <div class="row span9">
    <div id="intro" class="">
      <p>Short links are perfect for tweets and sharing, but they hide the link's true destination.</p>
      <p><em>LinkPeelr</em> "peels" short links so you don't get surprised by where you end up.</p>
      <hr>
      <p>Wonder if <a href="http://bit.ly/9Uk1wi">http://bit.ly/9Uk1wi</a> is safe to follow? <em>LinkPeelr</em> can help you find out.</p>
    </div>

    <div>
      <div class="list-bullet list-bullet1">1</div>
      <h3>Try LinkPeelr now</h3>
    </div>
  
    <p>Enter short link and click on the "Peel" button to see the long link behind it. Click "Follow" to follow the link.</p>
    <form id="main_form" class="offset1 form-search" name="main_form">
      <label>URL:</label>
      <input id="url" type="text" class="span4 search-query">
      <button id="peel_btn" type="submit" name="peel" class="btn">Peel</button>
      <button id="follow_btn" type="submit" name="follow" class="btn">Follow</button>
    </form>
    
    <div>
      <div class="list-bullet">2</div>
      <h3>Use LinkPeelr on any website</h3>
    </div>
    
    <p>Simply hover over <em>any link on any website</em> to see where the link really goes!</p>

    <div class="row">
      <div class="offset1 span8">
        <div class="row">
          <div class="span4">
            <div class="thumbnail">
              <img style="width: 300px;" src="/img/linkpeelr_hover.gif"/>
            </div>
          </div>
          <div class="span3">
            <button id="download_btn" type="submit" class="btn btn-large"><img align="left" src="/img/chrome_logo_64.png"/>Download <br>LinkPeelr Chrome Extension</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="list-item">
      <div class="list-bullet">3</div>
      <h3>See LinkPeelr at work</h3>
    </div>

    <p>Check out what 4,000+ LinkPeelr users are peeling right now!</p>
    
    <div id="test_scroller">
      <div class="headline">
        Loading activity stream. Please wait...
      </div>
      <div class="headline">
        Loading activity stream. Please wait...
      </div>
      <div class="headline">
        Loading activity stream. Please wait...
      </div>
    </div>
  </div>

{% endblock %}
